@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
html {
  font-size: 52.5%;
  scroll-behavior: smooth; }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px; }

body {
  overflow-x: hidden;
  background-color: #141414; }

.text-box {
  position: absolute;
  top: 30%;
  left: 20%;
  /* background-color: red; */ }

.heading-primary {
  display: block;
  font-family: 'Poppins',sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 7.3rem;
  letter-spacing: 0.01em;
  color: #c9c9c9; }

.heading-footer {
  font-family: 'Poppins',sans-serif;
  font-size: 7rem;
  line-height: 8rem;
  font-weight: 500;
  color: #525252; }

::-webkit-scrollbar {
  width: 0.8rem; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 1rem; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000; }

body {
  -ms-overflow-style: none;
  /* IE and Edge support*/
  scrollbar-width: none;
  /* Firefox support*/ }

.header {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "model text_box";
  position: relative; }

.threejs_model {
  grid-area: model; }

.text-box {
  grid-area: text_box; }

.work {
  margin-top: 3rem;
  height: 140vh;
  font-family: 'Poppins',sans-serif;
  background: #fff;
  mix-blend-mode: screen;
  overflow: hidden; }
  .work, .work * {
    cursor: none; }

.project_heading {
  margin-top: 20rem;
  margin-left: 7rem;
  letter-spacing: -0.1rem;
  padding: 0rem;
  margin-bottom: 0%;
  font-size: 5rem;
  font-weight: 550;
  font-family: 'Source Code Pro', monospace; }
  .project_heading > span {
    margin-left: 0.5rem;
    font-weight: 600;
    font-size: 1.3rem; }

.headings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "web data_science" "mobile data_science";
  color: #202020;
  margin-top: 23rem; }
  .headings .web-title {
    grid-area: web; }
    .headings .web-title a {
      margin-left: 26%;
      font-weight: 600;
      font-size: 12rem; }
    .headings .web-title span {
      font-weight: 500;
      font-size: 1.8rem;
      letter-spacing: -0.02em;
      color: #8D8D8D; }
  .headings .data-title {
    grid-area: data_science;
    padding: 12.4% 0% 10%;
    margin-left: 23%; }
    .headings .data-title a {
      line-height: 11rem;
      font-weight: 600;
      font-size: 12rem; }
    .headings .data-title span {
      font-weight: 500;
      font-size: 1.8rem;
      letter-spacing: -0.02em;
      color: #8D8D8D; }
  .headings .mobile-title {
    grid-area: mobile;
    margin-top: 5rem; }
    .headings .mobile-title a {
      margin-left: 26%;
      font-weight: 600;
      font-size: 12rem; }
    .headings .mobile-title span {
      font-weight: 500;
      font-size: 1.8rem;
      letter-spacing: -0.02em;
      color: #8D8D8D; }

.shapes {
  background: #2128bd;
  overflow: hidden; }

.shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%; }
  .shape.shape-1 {
    background: #005ffe;
    width: 65rem;
    height: 65rem;
    margin: -32.5rem 0 0 -32.5rem; }
  .shape.shape-2 {
    background: #ffe5e3;
    width: 44rem;
    height: 44rem;
    margin: -22rem 0 0 -22rem; }
  .shape.shape-3 {
    background: #ffdb88;
    width: 27rem;
    height: 27rem;
    margin: -13.5rem 0 0 -13.5rem; }

.cursor {
  position: absolute;
  background: #999eff;
  width: 2rem;
  height: 2rem;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  will-change: transform;
  user-select: none;
  pointer-events: none;
  z-index: 10000; }

::selection {
  color: #fff;
  background: #2128bd; }

::-moz-selection {
  color: #fff;
  background: #2128bd; }

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "about_title about_matter";
  margin-top: 15%;
  height: 90vh;
  font-family: 'Poppins'; }
  .about_title {
    text-align: center;
    grid-area: about_title;
    color: white;
    font-weight: 500;
    font-size: 3.2rem; }
    .about_title p {
      margin-top: -1%; }
  .about_box {
    grid_area: about_matter;
    width: 40vw; }

.matter {
  font-size: 2.5rem;
  line-height: 120%;
  letter-spacing: -0.025em;
  color: #B0B0B0; }

a {
  text-decoration: none;
  color: black; }

.footer {
  height: 40vh;
  background-color: white;
  color: black;
  font-family: 'Poppins',sans-serif; }
  .footer_heading {
    font-weight: 400;
    padding-top: 4rem;
    font-size: 4rem;
    margin-left: 8rem; }
  .footer_navigation {
    margin-top: 8.5rem; }
  .footer_list {
    text-align: center;
    list-style: none;
    text-decoration: none;
    margin-bottom: 14rem; }
  .footer_item {
    font-weight: 400;
    font-size: 1.7rem;
    display: inline-block; }
    .footer_item:not(:last-child) {
      margin-right: 15rem; }
    .footer_item :hover {
      cursor: pointer; }
  .footer_copyright {
    font-size: 1.7rem;
    margin-left: 7rem; }

.email_logo > img {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.3rem; }

.github_logo > img {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.3rem; }

.linkedin_logo > img {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.3rem; }

.stackoverflow_logo > img {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.3rem; }
