.title-about{
    color:white;
    font-weight: 500;
    font-size: 3.2rem;
    position: relative;
    margin-top: -5%;
}
.about{
    margin-top: 20%;
    height: 100vh;
    font-family: 'Poppins';
}
.matter{
    height: 50vh;
    width: 40vw;
    font-size: 2.5rem;
    line-height: 120%;
    letter-spacing: -0.025em;
    color: #B0B0B0;
    position: relative;
}