.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "about_title about_matter";
    margin-top: 20%;
    height: 80vh;
    font-family: 'Poppins';
    &_title{
        text-align: center;
        grid-area: about_title;
        color:white;
        font-weight: 500;
        font-size: 3.2rem;
        p{
            margin-top: -1%;
        }
    }
    &_box{
        grid_area: about_matter;
        width: 40vw;
    }
}
.matter{
    font-size: 2.5rem;
    line-height: 120%;
    letter-spacing: -0.025em; 
    color: #B0B0B0;
}