.header{
    display: grid;
    height : 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "model text_box";
    position: relative;
}
.threejs_model{
    grid-area: model; // here threejs model has to be inserted
}
.text-box{
    grid-area: text_box;
}