.header{
    height : 100vh;
    position: relative;
    background-color:transparent;
}
.webgl{
    position: absolute;
    outline: none;
}
.text-box{
    position: absolute; 
    // top: 30%;
    // left: 15%;
    top: 46%; 
    left: 27%;
    transform: translate(-50%,-50%);
    /* background-color: red; */
    // width: 35%;
}
.heading{
    &-primary{
        display: block;
        font-family: 'Poppins',sans-serif;
        font-size: 7rem;
        font-weight: 400;
        line-height: 7.3rem; 
        letter-spacing: 0.01em; 
        color: #c9c9c9;
        margin-bottom: 2rem;
    }
    &-footer{
        font-family: 'Poppins',sans-serif;
        font-size: 5rem;
        line-height: 6rem;
        white-space:pre-line; 
        // font-weight: 600;
        font-weight: 500;
        color: #525252;
        // margin-left: -1px;
        // -webkit-text-stroke-width: 0.01px;
        // -webkit-text-stroke-color: rgb(165, 165, 165); 
    } 
}
.text-box{
    grid-area: text_box;
}
@media only screen and (max-width: 550px){
    .text-box{
        top: 50%;
        left: 30%;
    }
    .heading{
        &-primary{
            margin-left: -0.3rem;
            font-size: 4rem;
            font-weight: 400;
            line-height: 5rem;
            width: min-content;
            margin-bottom: 1.2rem;        
        }
        &-footer{
            font-size: 1rem;
            line-height: 2rem;
            white-space: normal;
            color: #666666;
        } 
    }
}