.work{
    margin-top:3rem;
    height: 140vh;
    font-family: 'Poppins',sans-serif;
    background: #fff; 
    mix-blend-mode: screen;
    &,*{
        cursor: none;
    }
    overflow: hidden;
}
.project_heading{
  margin-top: 20rem;
  margin-left: 7rem;
  padding:0rem;
  margin-bottom: 0%;
  color: black;
  font-size: 5rem;
  font-weight: 580;
  font-family: 'Source Code Pro', monospace;
  &>span{
    margin-left: 0.5rem;
    font-weight: 600;
    font-size: 1.3rem; 
  }
}
.headings{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "web data_science"
    "mobile data_science";
    color: #202020; 
    margin-top: 25rem; 
    .web-title{ 
            grid-area: web;
        a{
            margin-left: 30%;
            font-weight: 600;
            font-size: 12rem;
        }
        span{ 
            font-weight: 500;
            font-size: 1.8rem;
            letter-spacing: -0.02em;
            color: #8D8D8D;
        }
    }
    .data-title{
        grid-area: data_science;
        padding: 10% 0% 10%;
        margin-left: 25%;
        a{
            line-height: 11rem;
            font-weight: 600;
            font-size: 12rem;
        }
        span{
            font-weight: 500;
            font-size: 1.8rem;
            letter-spacing: -0.02em;
            color: #8D8D8D; 
        }
    }
    .mobile-title{
            grid-area: mobile;
            margin-top: 5rem;
        a{
            margin-left: 30%;
            font-weight: 600;
            font-size: 12rem;
        }
        span{
            font-weight: 500;
            font-size: 1.8rem;
            letter-spacing: -0.02em;
            color: #8D8D8D;
        }
    }
}

//animations

.shapes {
    background: #2128bd;
    overflow: hidden;
  }
  
  .shape {
    will-change: transform;
    position: absolute;
    border-radius: 50%;
    
    // $shapes: (#005ffe: 650px, #ffe5e3: 440px, #ffcc57: 270px);
    $shapes: (#005ffe: 65rem, #ffe5e3: 44rem, #ffdb88: 27rem);
     
    @each $color, $size in $shapes {
      &.shape-#{index($shapes, ($color $size))} {
        background: $color;
        width: $size;
        height: $size;
        margin: (-$size/2) 0 0 (-$size/2);
      }
    }
  }
  .cursor {
    position: absolute; 
    background: #999eff;
    width: 2rem;
    height: 2rem;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    will-change: transform;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
  }
  
  ::selection {
    color: #fff;
    background: #2128bd;
  }
  ::-moz-selection {
    color: #fff;
    background: #2128bd;
  }
  