@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html{
    // font-size: 62.5%;
    font-size: 52.5%;
}
*,
*::after,
*::before{
    margin: 0px; 
    padding: 0px;
}
body{
    overflow-x: hidden;
    background-color: #141414;
}
@media only screen and (max_width: 550px){
    html, body { height: 100%; overflow: hidden}
}