@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html{
    // font-size: 62.5%;
    font-size: 52.5%;
    scroll-behavior: smooth;
}
*,
*::after,
*::before{
    margin: 0px; 
    padding: 0px;
}
body{
    overflow-x: hidden;
    background-color: #141414;
}