.text-box{
    position: absolute;
    top: 45%;
    left: 80%;
    transform: translate(-50%,-50%);
    /* background-color: red; */
    width: 35%;
}
.heading{
    &-primary{
        display: block;
        font-family: 'Poppins',sans-serif;
        font-size: 3rem;
        font-weight: 400;
        line-height: 7.3rem; 
        letter-spacing: 0.01em;
        color: #c2c2c2;
    
    }
    &-footer{
        font-family: 'Poppins',sans-serif;
        display: block;
        font-size: 7rem;
        line-height: 8rem;
        // font-weight: 600;
        font-weight: 500;
        color: #505050;
        // -webkit-text-stroke-width: 0.01px;
        // -webkit-text-stroke-color: rgb(165, 165, 165); 
    } 
}